html {
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}
body {
    font-family: "Lucida Console", monospace; 
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
    color: #ffffff;
}

header {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: "Unbounded", sans-serif;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 1200px;
    min-height: 85vh;
    margin: auto;
}

h2 {
    color: #c0bdb0;
    font-family: "Unbounded", sans-serif;
    text-align: center;
}

ul {
    padding-left: 20px;
}

footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #a19e91;
    border-radius: 5px;
}

p {
    line-height: 1.8;    
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.grid-item {
    flex: 1 1 45%; 
    margin: 10px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    
    .grid-item {
        flex: 1 1 100%; 
    }
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.image-item {
    text-align: center;
    margin: 10px;
    display: grid;
    align-items: center;
    grid-template-rows: 400px 50px;
}
.image-item img {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.contact-form {
    background-color: #af969698;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.contact-form h3 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}
